html, body {
  font-family: "Roboto Mono", monospace;
}

.blog-content {
  line-height: 1.6;
}
.blog-content img {
  margin: 1em 0;
  padding: 0.5em;
}

.blog-content h1 {
  font-size: 24px;
}

.blog-content h2 {
  font-size: 20px;
}
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.blog-content p {
  margin: 1em 0;
}

.blog-content a {
  text-decoration: none;
}

.blog-content a {
  color: #37b3ed;
}

.blog-content a:hover {
  text-decoration: underline;
}

.blog-content ul,
.blog-content ol {
  margin: 1em 0;
  padding-left: 1.5em;
  list-style-type: disc;
}

.blog-content li {
  margin: 0.5em 0;
}

.blog-content blockquote {
  margin: 1em 0;
  padding: 0.5em 1em;
  border-left: 4px solid;
}

.blog-content img {
  max-width: 100%;
  height: auto;
}

.blog-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

.blog-content th,
.blog-content td {
  padding: 0.5em;
  border: 1px solid;
}

.blog-content th {
  font-weight: bold;
}
