---
const { url, title, pubDate } = Astro.props;

const date = new Date(pubDate);
const result = date.toDateString();
---
<style>
    .blog-rows {
        padding: 10px 15px 0px 15px;
    }
    .blog-rows:focus {
        padding: 10px 15px 0px 15px;
    }
    .date-wrapper {
        padding: 0px 0px 0px 46px;
        color:rgb(85, 85, 85);
        font-size: small;
    }
</style>

<li>
    <a href={url} class="nav-link scrollto active blog-rows">
        <i class="bx bx-chevron-right"></i>
        <span>
            {title}
        </span>
    </a>
    <span class="date-wrapper">{result}</span>
</li>