---
const { frontmatter } = Astro.props;
---
<section id="comments">
  <h3>{frontmatter.title}</h3>
  <h2>Leave a Comment</h2>
  <form name="comment" method="POST">
    <input type="hidden" name="form-name" value="comment" />
    
    <p>
      <label>Your Name: <br />
      <input type="text" name="name" required /></label>
    </p>
    
    <p>
      <label>Your Email: <br />
      <input type="email" name="email" /></label>
    </p>
    
    <p>
      <label>Comment: <br />
      <textarea name="message" required></textarea></label>
    </p>
    
    <p><button type="submit">Send</button></p>
  </form>
</section>