<section id="about" class="about">
    <div class="container">

        <div class="section-title">
        <h2>About</h2>
            <p>
                I'm Tabrez, a Full Stack Developer with a strong background in building software solutions.
            </p>
            <br />
            <p>Plainly spoken - I'm not interested in technobabble! I enjoy finding and building the simplest solution that works.
            </p>
            <br />
            <p>Happy to help out on new projects or if you need an extra pair of hands.</p>
            <br />
            <p>
                Over the years, I've been involved in some interesting projects such as:
                <br />
                <ul>
                    <li>An Electronic Document Management System (EDMS) for the NHS (<a class="link" target="_blank" rel="noreferrer" href="http://www.mizaic.com">Mizaic</a>).</li>
                    <li>An online community engagement platform to allow residents to provide feedback on developments in their community (<a class="link" target="_blank" rel="noreferrer" href="http://www.commonplace.is">Commonplace</a>).</li>
                    <li>Building a platform for Data Scientists to manage their simulations (<a class="link" target="_blank" rel="noreferrer" href="http://sandtable.com">Sandtable</a>).</li>
                    <li>Family history software to help genealogists build and research their family trees (<a class="link" target="_blank" rel="noreferrer" href="https://www.findmypast.co.uk/">Findmypast</a>).</li>
                </ul>
            </p>
            <br />
            <p>
                I have a wide range of skills from designing databases, building backend APIs and developing the front-end with modern technologies such as TypeScript, React, and Tailwind.
            </p>
        </div>

    </div>
</section>