<section id="about" class="about">
    <div class="container">

        <div class="section-title">
        <h2>About</h2>
            <p>
                I’m Tabrez, a Full Stack Developer with a strong background in building dynamic web applications.
            </p>
            <br />
            <p>Happy to help out on new projects or if you need an extra pair of hands.</p>
            <br />
            <p>
                I’ve worked a range of teams from small agile startups to larger companies with global teams.
            </p>
            <br />
            <p>
                Over the years, I’ve been involved in some interesting projects such as:
                <br />
                <ul>
                    <li>An Electronic Document Management System (EDMS) for the NHS.</li>
                    <li>An online community engagement platform to allow residents to provide feedback on developments in their community.</li>
                    <li>Building a platform for Data Scientists to manage their simulations.</li>
                    <li>Family history software to allow genealogists and build and research their family tree.</li>
                </ul>
            </p>
            <br />
            <p>
                I have a wide range of skills from designing databases, building backend API’s and developing the front-end with modern technologies such as TypeScript, React, and Tailwind.
            </p>
        </div>

    </div>
</section>