---
import BlogPost from "../../components/BlogPost.astro";
const allPosts = await Astro.glob("../../pages/posts/*.md");
---
<section id="bloglist" class="bloglist">
    <div class="container">
        <div class="section-title">
            <h2>Recent Blogs</h2>
            <p>Tech related things I find interesting here.</p>
        </div>
        <ul>
            {
                allPosts.map(post => 
                    <BlogPost title={post.frontmatter.title} url={post.url} pubDate={post.frontmatter.pubDate}/>
                )
            }
        </ul>
    </div>
</section>