---
import BlogPost2 from "../../components/BlogPost2.astro";
const allPosts = await Astro.glob("../../pages/posts/*.md");
---
<section id="bloglist" class="bloglist">
    <div class="container">
        <div class="section-title">
            <h2>Recent Blogs</h2>
            <p>Some of my thoughts on interesting tech things here.</p>
        </div>
        <ul class="nav-menu navbar" style="justify-content: flex-start;">
            {
                allPosts.map(post => 
                    <BlogPost2 title={post.frontmatter.title} url={post.url} pubDate={post.frontmatter.pubDate}/>
                )
            }
        </ul>
    </div>
</section>