<section id="projects" class="projects">
  <div class="container">
    <div class="section-title">
      <h2>My Projects</h2>
      <p>
        Here are some personal projects that I am working on now. I've tried to
        combine some of my other interests with coding.
      </p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="project__container">
        <div class="lhs">
          <a href="https://guitar-db.herokuapp.com/" target="_blank" rel="noopener noreferrer"><img src="/assets/img/guitar-db.png" alt="Screenshot of Guitar Explorer main page"/></a>
          <a href="https://guitar-db.herokuapp.com/" target="_blank" rel="noopener noreferrer"><img src="/assets/img/guitar-db2.png" alt="Screenshot of Guitar Explorer with modal window of guitar"/></a>
        </div>
        <div class="rhs">
          <span>
            <a class="link" href="https://guitar-db.herokuapp.com/" target="_blank" rel="noopener noreferrer">Guitar Explorer</a>
          </span>
          <p>
            One of my hobbies is guitar playing, and I enjoy window shopping for
            my next guitar. This is my attempt at creating a site with an easy to
            use filter, that works fast and seamlessly. The main section of the
            page displays the guitars in a modal rather than opening up a new
            page. This makes the guitars easier to browse and maintains the
            current filter.
          </p>
          <p>
            The API is built with Node/Express/Mongoose and MongoDB as the
            database. I found that building the filter was easier with MongoDB
            rather than a relational database because it accepts JSON to query the
            database. This made it trivial to build the query client-side and send
            it to the API.
          </p>
          <p>
            The front-end is React/Redux and Sass. Usually I would reach for
            Bootstrap for this kind of project but I wanted to build the CSS from
            scratch and design my own responsive theme.
          </p>
          
          <div class="tech__badges">
            <div data-aos="flip-left">
                <i class='bx bxl-javascript'></i>
                <span>JavaScript</span>
            </div>
            <div data-aos="flip-left">
                <i class='bx bxl-nodejs'></i>
                <span>NodeJS</span>
            </div>
            <div data-aos="flip-left">
                <i class='bx bxl-mongodb'></i>
                <span>MongoDB</span>
            </div>
            <div data-aos="flip-left">
                <i class='bx bxl-react'></i>
                <span>React</span>
            </div>
            <div data-aos="flip-left">
                <i class='bx bxl-sass'></i>
                <span>Sass</span>
            </div>
            <div data-aos="flip-left">
                <i class='bx bxl-html5'></i>
                <span>HTML5</span>
            </div>
            <div data-aos="flip-left">
                <i class='bx bxl-git'></i>
                <span>Git</span>
            </div>
            <div data-aos="flip-left">
                <i class='bx bxl-visual-studio'></i>
                <span>VSCode</span>
            </div>
          </div>
          
          <p>
            <span>
              source: <a class="link" href="https://gitlab.com/tabrezakhtar/guitar-db" target="_blank" rel="noopener noreferrer">https://gitlab.com/tabrezakhtar/guitar-db</a>
            </span>
            <span>
              site: <a class="link" href="https://guitar-db.herokuapp.com"target="_blank" rel="noopener noreferrer">https://guitar-db.herokuapp.com</a>
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="project__container">
        <div class="lhs">
          <a href="https://whatsthescore.netlify.app/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/whatsthescore2025.png" alt="Screenshot of whatsthescore" />
          </a>
        </div>

        <div class="rhs">
          <span>
            <a class="link" href="https://whatsthescore.netlify.app/" target="_blank" rel="noopener noreferrer">whatsthescore</a></span><p>
            I built this app as a way of keeping the score during a tennis match, which is something that I’ve always struggled with. The UI is designed to be as simple as possible, with only 2 buttons to control the score.
          </p>
          <p>
            To build this project, I used the Context API and styled it using BeerCSS for a Material style theme. The module to model the tennis score is built with a Test-Driven approach using Jest, since tennis scoring has a lot of edge cases that can easily slip through without tests.
          </p>
          
          <div class="tech__badges">
            {/* <img src="/icons/javascript.svg" alt="JavaScript logo" title="JavaScript"/>
            <img src="/icons/react.svg" alt="React logo" title="ReactJS"/>
            <img src="/icons/sass.svg" alt="Sass logo" title="Sass"/>
            <img src="/icons/html.svg" alt="HTML5 logo" title="HTML5"/>
            <img src="/icons/git.svg" alt="Git logo" title="Git"/>
            <img src="/icons/vs.svg" alt="VSCode logo" title="VSCode"/>
            <img src="/icons/jest.svg" alt="Jest logo" title="Jest"/> */}
            <div data-aos="flip-left">
                <i class='bx bxl-javascript'></i>
                <span>JavaScript</span>
            </div>
            <div data-aos="flip-left">
                <i class='bx bxl-react'></i>
                <span>React</span>
            </div>
            <div data-aos="flip-left">
                <i class='bx bxl-html5'></i>
                <span>HTML5</span>
            </div>            
            <div data-aos="flip-left">
                <i class='bx bxl-git'></i>
                <span>Git</span>
            </div>
            <div data-aos="flip-left">
                <i class='bx bxl-visual-studio'></i>
                <span>VSCode</span>
            </div>
          </div>
          <p>
            <span>source: <a class="link" href="https://gitlab.com/tabrezakhtar/whatsthescore-web" target="_blank" rel="noopener noreferrer">https://gitlab.com/tabrezakhtar/whatsthescore-web</a>
            </span>
            <span>site: <a class="link" href="https://whatsthescore.netlify.app/" target="_blank" rel="noopener noreferrer">https://whatsthescore.netlify.app/</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .project__container {
    display: flex;
    border-bottom: 1px solid $divider-color;
  }

  @media (max-width: 720px) {
    .project__container {
      display: block;
    }
  }


  .project__container .lhs {
    flex: 0 1 calc(30%);
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
  }

  @media (max-width: 720px) {
    .project__container .lhs {
      align-items: center;
    }
  }

  .project__container .lhs img {
    transition: all .2s ease-in-out;
    width: 24rem;
    padding-top: 2rem;
  }

  @media (max-width: 720px) {
    .project__container .lhs img {
      width: 35rem;
    }  
  }

  .project__container .lhs img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .project__container .rhs {
    justify-content: center;
    flex: 1;
    padding: 2rem;
  }

  .project__container .rhs span {
    display: block;
    padding-bottom: 1rem;
  }

  .project__container .rhs p {
    padding-bottom: 1rem;
  }

  .project__container .rhs .tech__badges {
    justify-content: left;
  }

  .project__container .rhs .tech__badges img {
    width: 3rem;
  }

  .link {
    font-weight: bold;
    color: #008080;
  }
</style>
