<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="bx bxs-component"></i></div>
        <h4 class="title"><a href="">Full-Stack Development</a></h4>
        <p class="description">Happy to take on a project and work end-to-end on all features, including database, unit testing and deployment work.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bx bxl-html5"></i></div>
        <h4 class="title"><a href="">Front-End Development</a></h4>
        <p class="description">Implementing interfaces from designs.  Updating existing projects with new features.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="bx bxl-javascript"></i></div>
        <h4 class="title"><a href="">Back-End Development</a></h4>
        <p class="description">Adding new API endpoints and features.  Implementing 3rd party APIs.</p>
      </div>
    </div>

  </div>
</section>
