---
import BlogPost from "../../components/BlogPost.astro";

type PostEntry = {
    frontmatter: {
        title: string;
        pubDate: string | Date;
    };
    url?: string;
};

const allPosts = Object.values(
    import.meta.glob("../../pages/posts/*.md", { eager: true })
) as PostEntry[];

const sortedPosts = allPosts.sort(
    (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---
<nav id="navbar" class="nav-menu navbar side-menu-blog">
    <ul class="side-menu-blog__static">
        <li>
            <a href="/" class="nav-link scrollto active">
                <i class="bx bx-home"></i> <span>Home</span>
            </a>
        </li>
    </ul>

    <div class="side-menu-blog__posts">
        <ul>
            {
                sortedPosts.map((post) =>
                    <BlogPost title={post.frontmatter.title} url={post.url ?? "#"} pubDate={post.frontmatter.pubDate} />
                )
            }
        </ul>
    </div>
</nav>

<style>
    .side-menu-blog {
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: flex-start;
        min-height: 0;
        width: 100%;
    }

    .side-menu-blog__static {
        flex: 0 0 auto;
        display: block;
        width: 100%;
    }

    .side-menu-blog__posts {
        flex: 1 1 auto;
        min-height: 0;
        overflow-y: auto;
        scrollbar-width: auto;
        -ms-overflow-style: auto;
        width: 100%;
    }

    .side-menu-blog__static ul,
    .side-menu-blog__posts ul {
        display: block;
        width: 100%;
    }

    .side-menu-blog__posts ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
</style>