---
import BlogPost from "../../components/BlogPost.astro";
const allPosts = await Astro.glob("../../pages/posts/*.md");
---
<nav id="navbar" class="nav-menu navbar">
    <ul>
        <li>
            <a href="/" class="nav-link scrollto active">
                <i class="bx bx-home"></i> <span>Home</span>
            </a>
        </li>

        {
            allPosts.map(post => 
                <BlogPost title={post.frontmatter.title} url={post.url} pubDate={post.frontmatter.pubDate}/>
            )
        }
        
        <li style="border-top: 1px solid #444; margin-top: 1rem; padding-top: 1rem;">
            <a href="/privacy-policy" class="nav-link">
                <i class="bx bx-shield"></i> <span>Privacy Policy</span>
            </a>
        </li>
    </ul>
</nav>