<section id="skills" class="skills section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Skills</h2>
            <p>
                Right now, my main interests are working with
                Node/Express, MongoDB, React and Sass, and I enjoy
                anything JavaScript related.
            </p>
        </div>

        <div class="row">
            <div data-aos="fade-up">
                <div class="tech__badges">
                    <div data-aos="flip-left">
                        <i class='bx bxl-typescript'></i>
                        <span>Typescript</span>
                    </div>
                    
                    <div data-aos="flip-left">
                        <i class='bx bxl-nodejs'></i>
                        <span>NodeJS</span>
                    </div>
                    
                    <div data-aos="flip-left">
                        <i class='bx bxl-mongodb'></i>
                        <span>MongoDB</span>
                    </div>

                    <div data-aos="flip-left">
                        <i class='bx bxl-react'></i>
                        <span>React</span>
                    </div>
                    
                    <div data-aos="flip-left">
                        <i class='bx bxl-sass'></i>
                        <span>Sass</span>
                    </div>
                    
                    <div data-aos="flip-left">
                        <i class='bx bxl-tailwind-css'></i>
                        <span>Tailwind</span>
                    </div>
                    
                    <div data-aos="flip-left">
                        <i class='bx bxl-html5'></i>
                        <span>HTML5</span>
                    </div>
                    
                    <div data-aos="flip-left">
                        <i class='bx bxl-git'></i>
                        <span>Git</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
